.con-left{
	width: 220px;
	min-height: 500px;
	background: #f9f9f9;
	float: left;
}
.con-right{
	max-width: 920px;
	float: left;
	width: 100%;
}
.rightbox{
	margin: 50px 0 0 50px;
}
.personalInfor{
	text-align: center;
	background: url(../images/personalBg.jpg) no-repeat #faf7f5 bottom center;
	padding: 30px 0 20px 0;
}
.personalInfor img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.personalInfor p{
	margin: 10px 0;
}
.list-group a{
	color: #4c4c4c;
}
.list-group a:hover{
	color: #0099ff;
}
.list-group-item{
	border: none;
	margin: 10px 0;
	background: none;
}
.list-group-item .fa{
	padding: 0 10px;
}
.header-title h2{
	margin-left: 20px;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	border-bottom: 2px #ccc solid;
	color: #4c4c4c;
	position: relative;
}
.header-title h2:before{
	content: "";
	width: 110px;
	display:inline-block;
	border-bottom: 2px solid #0099ff;
	position: absolute;
	bottom: -2px;
	left: 0;
}
.header-title .fa-plus{
	position: absolute;
	right: 0;
	font-size: 14px;
	color: #0099ff;
	bottom: 7px;
}