<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-lg12" style="height: 800px; margin-top: 50px;">
            <fieldset class="layui-elem-field">
                <legend>视频管理 - 编辑视频</legend>
                <div class="layui-field-box">
                    <div >
                        <form class="layui-form">

                            <input type="hidden" th:value="${video.id}" name="id" required  lay-verify="required" placeholder="输入视频名称" autocomplete="off" class="layui-input">


                            <div class="layui-form-item">
                                <label class="layui-form-label">视频名称</label>
                                <div class="layui-input-block">
                                    <input type="text" th:value="${video.vidName}" name="vidName" required  lay-verify="required" placeholder="输入视频名称" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">上传视频</label>
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn" id="test5"><i class="layui-icon"></i>上传视频</button>
                                    <input type="hidden" th:value="${video.vidVideoUrl}" id="vidVideoUrl" name="vidVideoUrl" required  lay-verify="required" placeholder="上传视频" autocomplete="off" class="layui-input">
                                </div>
                            </div>


                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">视频介绍</label>
                                <div class="layui-input-block">
                                    <textarea name="vidIntroduce" th:text="${video.vidIntroduce}" placeholder="请输入视频介绍" class="layui-textarea"></textarea>
                                </div>
                            </div>



                            <div class="layui-form-item">
                                <label class="layui-form-label">资料名称</label>
                                <div class="layui-input-block">
                                    <input type="text" th:value="${video.vidDatum}" name="vidDatum" required  lay-verify="required" placeholder="输入资料名称" autocomplete="off" class="layui-input">
                                </div>
                            </div>


                            <div class="layui-form-item">
                                <label class="layui-form-label">资料上传</label>
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn" id="test3"><i class="layui-icon"></i>上传文件</button>
                                    <input type="hidden" th:value="${video.vidDatumUrl}" id="vidDatumUrl" name="vidDatumUrl" required lay-verify="required" placeholder="视频介绍" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">一级分类</label>
                                <div class="layui-input-block">
                                    <select  name="cat1Name" lay-filter="cat1Name">
                                        <option th:value="${catalog1.id}" th:text="${catalog1.cat1Name}"></option>
                                        <option id="cat1" th:each="catalogs:${catalog1List}" th:value="${catalogs.id}" th:text="${catalogs.cat1Name}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item" >
                                <label class="layui-form-label">二级分类</label>
                                <div class="layui-input-inline">
                                    <select  id="catalog2Id"  name="catalog2Id" lay-filter="filterCat2Name" >
                                        <option th:value="${catalog2.id}" th:text="${catalog2.cat2Name}" ></option>
                                        <!--<option id="cat2"></option>-->
                                    </select>
                                </div>
                            </div>


                            <div class="layui-form-item">
                                <label class="layui-form-label">选择教师</label>
                                <div class="layui-input-inline">
                                    <select name="teaId" lay-filter="aihao">
                                        <option th:value="${teacher.id}" th:text="${teacher.teaName}" ></option>
                                        <option th:each="teachers:${teacherList}" th:value="${teachers.id}" th:text="${teachers.teaName}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即修改</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/dw_form_submit.js"></script>


<script>
    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;
        layui.config({
            base : "js/"
        }).use(['form','layer'],function(){
        var form = layui.form;
        // 	layer = parent.layer === undefined ? layui.layer : parent.layer,
        $ = layui.jquery;
        //登录按钮事件 修改
        form.on("submit(formDemo)",function(data){
            $.ajax({
                url:'/video/edit',
                data:data.field,
                type:'put',
                success:function (result) {
                    if (result.success){
                        // layer.msg("保存成功!");
                        //关闭当前页面
                        layer.close(layer.index);
                        //刷新父页面
                        window.parent.location.reload();
                    }else{
                        layer.msg(result.message);
                    }
                }
            });
            return false;
        });

        form.on('select(cat1Name)', function(data){
            console.log(data.value); //得到被选中的值
            $.post("/getCatalog2?id="+data.value,function (data) {
                if(data!=null){
                    var content = '<option value="">选择二级分类</option>';
                    $.each(data,function (i,val) {
                        // console.log(i + "-" + val.chapterName);
                        content += '<option  value="' + val.id + '">' + val.cat2Name + '</option>';
                    });
                    console.log(content);
                    var s = $('#catalog2Id');
                    s.html(content);
                    console.log(s);
                    console.log(s.html());

                }
                form.render('select');///重新渲染select#chapterId
                // $('.cat2Name').reload();
            })

        });

        // 上传视频
        upload.render({
            elem: '#test5'
            ,url: '/video/saveFile'
            ,accept: 'file' //视频
            ,exts: 'mp4|avi'
            ,type: 'post'
            ,done: function(result){
                if(result.success){
                    layer.msg("上传视频成功！", {icon: 6});
                    $("#vidVideoUrl").attr("value",result.message);
                    // alert("上传成功！", {icon: 6});
                    // console.log(result.message)
                }else{
                    layer.msg("上传视频失败！", {icon:5});
                }
            }
        });
        //指定允许上传的文件类型
        upload.render({
            elem: '#test3'
            ,url: '/video/saveFile'
            ,accept: 'file' //普通文件
            ,exts: 'md|docx|doc|xls|zip|7z|ppt|pptx'
            ,type: 'post'
            ,size: 268290815 //限制文件大小，单位 KB 200m
            ,done: function(result){
                if(result.success){
                    layer.msg("上传资料文件成功！", {icon: 6});
                    $("#vidDatumUrl").attr("value",result.message);
                    // alert("上传成功！", {icon: 6});
                    // console.log(result.message)
                }else{
                    layer.msg("上传资料文件失败！", {icon:5});
                }
            }
        });

    });

</script>
</body>
</html>