<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-lg12" style="height: 800px;margin-top: 60px;">
            <fieldset class="layui-elem-field">
                <legend>查询视频 更多信息</legend>
                <div class="layui-field-box">
                    <div >
                        <form class="layui-form">
                            <div class="layui-form-item">
                                <label class="layui-form-label">视频名称</label>
                                <div class="layui-input-block">
                                    <input type="text" disabled="disabled" th:value="${videos.vidName}" name="vidName" required  lay-verify="required" placeholder="输入视频名称" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">视频地址</label>
                                <div class="layui-input-block">
                                         <input type="text" disabled="disabled" th:value="${videos.vidVideoUrl}" id="vidVideoUrl" name="vidVideoUrl" required  lay-verify="required" placeholder="上传视频" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">视频介绍</label>
                                <div class="layui-input-block">
                                    <textarea name="vidIntroduce" th:text="${videos.vidIntroduce}" disabled="disabled"  placeholder="请输入视频介绍" class="layui-textarea"></textarea>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">资料名称</label>
                                <div class="layui-input-block">
                                    <input type="text" disabled="disabled" th:value="${videos.vidDatum}" name="vidDatum" required  lay-verify="required" placeholder="输入资料名称" autocomplete="off" class="layui-input">
                                </div>
                            </div>


                            <div class="layui-form-item">
                                <label class="layui-form-label">资料地址</label>
                                <div class="layui-input-block">
                                 <input type="text" disabled="disabled"  th:value="${videos.vidDatumUrl}" id="vidDatumUrl" name="vidDatumUrl" required lay-verify="required" placeholder="视频介绍" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">一级分类</label>
                                <div class="layui-input-inline">
                                    <input type="text" disabled="disabled" th:value="${catalog1.cat1Name}" id="cat1Name" name="cat1Name" required lay-verify="required" placeholder="视频介绍" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item" >
                                <label class="layui-form-label">二级分类</label>
                                <div class="layui-input-inline">
                                    <input type="text"  disabled="disabled" th:value="${catalog2.cat2Name}" id="cat2Name" name="cat2Name" required lay-verify="required" placeholder="视频介绍" autocomplete="off" class="layui-input">

                                </div>
                            </div>


                            <div class="layui-form-item">
                                <label class="layui-form-label">任课教师</label>
                                <div class="layui-input-inline">
                                        <input type="text" disabled="disabled" th:value="${teachers.teaName}" id="teaName" name="teaName" required lay-verify="required" placeholder="视频介绍" autocomplete="off" class="layui-input">
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/dw_form_submit.js"></script>
</body>
</html>