<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 copyright">
                <span>Copyright © 2019.Company name All rights reserved.</span>
            </div>
            <div class="col-md-6 col-sm-6 link">
                <div class="menu-footer-menu-container">
                    <ul id="menu-footer-menu" class="menu list-inline">
                        <li class="after">
                            <a href="/index/in"><i class="fa fa-home"></i> 网站首页</a>
                        </li>
                        <li>
                            <a href="/teacherInd/login"><i class="fa fa-comments"></i> 教师登陆</a>
                        </li>
                        <li>
                            <a href="/admin/adminLogin"><i class="fa fa-comments"></i> 后台登录</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
