<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="layui-header">
    <div class="layui-logo">layui 后台布局</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <!--<ul class="layui-nav layui-layout-left">-->
        <!--<li class="layui-nav-item"><a href="admin.html">用户列表</a></li>-->
        <!--<li class="layui-nav-item"><a href="../member.html">会员列表</a></li>-->
    <!--</ul>-->
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">

            </a>
        </li>
        <li class="layui-nav-item"><a href="/admin/logout">退了</a></li>
    </ul>
</div>
</body>
</html>