<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="admin/common/head">

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--引入top-->
    <div th:include="admin/common/top"></div>

  <div class="layui-side layui-bg-black">
      <!--引入left-->
    <div th:include="admin/common/left"></div>
  </div>

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <fieldset class="layui-elem-field">
            <legend>教师管理 - 教师列表</legend>
            <div class="layui-field-box">
                <div class="demoTable">
                    <div class="layui-inline">
                        <input class="layui-input" placeholder="请输入名称" name="useName" id="demoReload" autocomplete="off">
                    </div>
                    <button class="layui-btn" data-type="reload"><i class="layui-icon">&#xe615;</i>搜索</button>
                </div>

              <hr>
                <div class="layui-btn-group">
                  <button class="layui-btn layui-btn-xs layui-btn-normal dw-dailog" dw-url="/teacher/saveTeacher" dw-title="新增用户" dw-width="80%" dw-height="90%">
                      <i class="layui-icon" id="saveUser">&#xe654;</i>新增
                  </button>
                  <button class="layui-btn layui-btn-xs dw-refresh">
                      <i class="layui-icon">&#x1002;</i>刷新
                  </button>
              </div>
              <hr>
                <table class="layui-hide" id="test" lay-filter="test"></table>
            </div>
        </fieldset>
    </div>
  </div>
  <!--引入底部-->
<div th:include="admin/common/bottom"></div>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="select">查看更多</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

</body>

<script th:inline="none">
    layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#test'
            ,url:'/teacher/teacherList'
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,title: '用户数据表'
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true}
                ,{field:'teaLoginName', title:'登陆名', width:120 }
                ,{field:'teaName', title:'用户名', width:150 }
                ,{field:'teaPwd', title:'密码', width:150}
                ,{field:'teaSex', title:'性别', width:100}
                ,{field:'teaEmail', title:'邮箱',width:200}
                ,{field:'teaNumber', title:'手机号码', width:200}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:230}
            ]]
            ,id: 'testReload'
            ,page: true
        });

        var $ = layui.$, active = {
            reload: function(){
                var demoReload = $('#demoReload');
                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                            useName: demoReload.val()
                    }
                }, 'data');
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });


        //监听行工具事件
        table.on('tool(test)', function(obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        url: "/teacher/del",
                        type: "DELETE",
                        data: {id: data.id},
                        success: function (result) {
                            if (result.success) {
                                //删除这一行
                                obj.del();
                                //关闭弹框
                                layer.msg(result.message, {icon: 6});
                            } else {
                                layer.msg(result.message, {icon: 5});
                            }
                        }
                    });
                });
            }
                if (obj.event === 'select') {
                    //查询页面
                    var kk = data['id'];  //获取属性id的值
                    alert(kk);
                    layer.open({
                        type: 2,
                        title: '',
                        shadeClose: true,
                        shade: 0.8,
                        area: ['80%', '90%'],
                        content: '/teacher/select?id=' + data.id

                    })
            } else if (obj.event === 'edit') {
                var kk=data['id'];  //获取属性id的值
                alert(kk);
                layer.open({
                    type:2,
                    title:'',
                    shadeClose:true,
                    shade:0.8,
                    area:['80%','90%'],
                    content: '/teacher/editTeacher?id='+data.id

                });
            }
        });

    });
</script>
</html>